{% extends "base.html" %}

{% block content %}
<section id="section4" class="scroll-section">
    <!-- Basic features section -->
    <section class="bg-light">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-5">
                    <h2 class="display-4 lh-1 mb-4">About - Organica AI Solutions</h2>
                    <h1>Our Mission</h1>
                    <p>1At Organica AI Solutions, our mission is to revolutionize businesses by harnessing the potential of artificial intelligence. We provide tailored and cutting-edge AI solutions in data analytics, blockchain, fintech, and machine learning to empower our clients to stay ahead in their respective industries.</p>
                    <!-- More content... -->
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="https://source.unsplash.com/u8Jn2rzYIps/900x900" alt="..." /></div>
                </div>
            </div>
        </div>
    </section>
</section>

<style>
    /* Apply margin to create space between pages */
    body {
        margin: 20px; /* Adjust the value as per your desired spacing */
    }
</style>

<script>
    // Smooth scrolling function
    function smoothScroll(target) {
        document.querySelector(target).scrollIntoView({
            behavior: 'smooth'
        });
    }

    // Add click event listeners to the navigation links
    var links = document.querySelectorAll('a.scroll-link');
    links.forEach(function(link) {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            var target = this.getAttribute('href');
            smoothScroll(target);
        });
    });
</script>
<script src="{{ url_for('static', filename='/js/script.js') }}"></script>
<style>
    /* Apply margin to create space between pages */
    body {
        margin: 500px; /* Adjust the value as per your desired spacing */
    }
</style>
{% endblock %}
